
<div class="taskList">
  <div class="taskList__name">
    <p>My Tasks</p>
  </div>

  <div class="taskList__count" [ngSwitch]="tasks.length">
    <div class="taskList__count__text" *ngSwitchCase="0">
      <p>Você <strong>não</strong> possui tarefas</p>
    </div>
    <div class="taskList__count__text" *ngSwitchCase="1">
      <p>Você possui <strong>uma</strong> tarefa</p>
    </div>
    <div class="taskList__count__text" *ngSwitchDefault>
    <p> Você possui: <strong> {{tasks.length}}</strong> tarefas restantes</p>
    </div>
  </div>

  <div class="taskList__newTask">
    <input id="taskList__newTask__input" [(ngModel)]="newTask" type="text" placeholder="Descrição da tarefa"/>
    <button id="taskList__newTask__button" (click)="addTask()">Adicionar</button>
  </div>

  <div class="taskList__list">
    <div class="taskList__list__item" *ngFor="let task of tasks; let i = index">
      <input class="taskList__list__item__checkbox" type="checkbox" [(ngModel)]="task.done" />
      <span class="taskList__list__item__text">{{task.description}}</span>
      <button class="taskList__list__item__deleteButton" (click)="deleteTask(i)">-</button>
    </div>
  </div>
</div>
